In [ ]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in ./opt/anaconda3/lib/python3.7/site-packages (1.3.9)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
from sqlalchemy import create_engine

In [ ]:
pip install psycopg2

Requirement already satisfied: psycopg2 in ./opt/anaconda3/lib/python3.7/site-packages (2.8.4)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#user:pass@host:port/bd_name
%sql postgres:// #(info deleted for security reasons)

'Connected: rsmqxinhil@main'

In [ ]:
engine = #(create engine - info deleted for security reasons)

## Tables of DB

In [ ]:
sql SELECT * FROM order_lines LIMIT 2

 * postgres://rsmqxinhil:***@scd-prod-entry-tests-sql-postgres-1602450624331.cxba23br5clr.eu-west-1.rds.amazonaws.com:5432/main
2 rows affected.

[(15152, 15265, 116.95833333333333, 0.19999999999999996, 'Baskets montantes Run Star Hike-Noir-40 - FR', '888757740727 ', 986, datetime.datetime(2020, 7, 11, 12, 10, 22, 808452, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (11558, 11614, 58.333333333333336, 0.19999999999999996, 'Baskets basses Falcon-Noir-40', '4059811737342', None, datetime.datetime(2020, 4, 3, 12, 55, 21, 540702, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)))]

In [ ]:
%sql SELECT * FROM order_line_cancellations LIMIT 2

 * postgres://rsmqxinhil:***@scd-prod-entry-tests-sql-postgres-1602450624331.cxba23br5clr.eu-west-1.rds.amazonaws.com:5432/main
   postgresql://readonly:***@dsstudents.skillbox.ru:5432/human_resources
2 rows affected.

[(297, None, None, 'not_in_stock', None, datetime.datetime(2020, 4, 15, 16, 17, 35, 458056, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (306, None, None, 'not_in_stock', None, datetime.datetime(2020, 4, 17, 15, 39, 27, 134944, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)))]

In [ ]:
%sql SELECT * FROM order_line_cancellation_decisions LIMIT 5

 * postgres://rsmqxinhil:***@scd-prod-entry-tests-sql-postgres-1602450624331.cxba23br5clr.eu-west-1.rds.amazonaws.com:5432/main
5 rows affected.

[(80, True, 'Supplier accepted cancellation', datetime.datetime(2020, 4, 1, 9, 24, 43, 625437, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (81, True, 'Supplier accepted cancellation', datetime.datetime(2020, 4, 6, 9, 34, 53, 146872, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (82, False, 'Not shipped in time by consumer', datetime.datetime(2020, 4, 6, 14, 20, 45, 201410, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (83, True, 'Supplier accepted cancellation', datetime.datetime(2020, 4, 6, 16, 1, 21, 900214, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (84, False, 'Not shipped in time by consumer', datetime.datetime(2020, 4, 7, 13, 40, 37, 586806, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)))]

In [ ]:
%sql SELECT * FROM orders LIMIT 2

 * postgres://rsmqxinhil:***@scd-prod-entry-tests-sql-postgres-1602450624331.cxba23br5clr.eu-west-1.rds.amazonaws.com:5432/main
   postgresql://readonly:***@dsstudents.skillbox.ru:5432/human_resources
2 rows affected.

[(13448, 3836, None, datetime.datetime(2020, 5, 18, 14, 50, 10, 636280, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 3.25, 0.19999999999999996, datetime.datetime(2020, 5, 19, 0, 0, 19, 89273, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2020, 5, 18, 14, 50, 10, 636280, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))),
 (13520, 3915, None, datetime.datetime(2020, 5, 19, 18, 5, 22, 741588, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), 3.25, 0.19999999999999996, datetime.datetime(2020, 5, 19, 20, 10, 28, 895635, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)), datetime.datetime(2020, 5, 19, 18, 5, 22, 741588, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)))]

### AVERAGE SUM of orders

In [ ]:
%sql SELECT AVG(sums) FROM (SELECT order_id, SUM(price_et) AS sums FROM order_lines GROUP BY order_id) AS inner_query;

 * postgres://rsmqxinhil:***@scd-prod-entry-tests-sql-postgres-1602450624331.cxba23br5clr.eu-west-1.rds.amazonaws.com:5432/main
1 rows affected.

[(78.55990990990931,)]

### Date when the most of orders were made

In [ ]:
%sql SELECT COUNT(order_id) AS sums, created_at::date AS date FROM order_lines GROUP BY date ORDER BY sums DESC LIMIT 1;

 * postgres://rsmqxinhil:***@scd-prod-entry-tests-sql-postgres-1602450624331.cxba23br5clr.eu-west-1.rds.amazonaws.com:5432/main
1 rows affected.

[(124, datetime.date(2020, 7, 18))]

### The turnover (including shipping) during July 2020

In [ ]:
%sql SELECT (ROUND(sum(order_lines.price_et)) + ROUND(sum(orders.shipping_price_et))) AS total FROM order_lines LEFT JOIN orders ON order_lines.created_at = orders.created_at WHERE order_lines.created_at >= '2020-07-01' AND order_lines.created_at < '2020-08-01';

 * postgres://rsmqxinhil:***@scd-prod-entry-tests-sql-postgres-1602450624331.cxba23br5clr.eu-west-1.rds.amazonaws.com:5432/main
1 rows affected.

[(110995.0,)]

### Global order cancellation rate

In [ ]:
%sql SELECT COUNT(*), COUNT(CASE WHEN accepted THEN 1 END) AS really_cancelled FROM order_line_cancellation_decisions;

 * postgres://rsmqxinhil:***@scd-prod-entry-tests-sql-postgres-1602450624331.cxba23br5clr.eu-west-1.rds.amazonaws.com:5432/main
1 rows affected.

[(737, 636)]

In [ ]:
%sql SELECT DISTINCT COUNT(order_id) FROM order_lines;

 * postgres://rsmqxinhil:***@scd-prod-entry-tests-sql-postgres-1602450624331.cxba23br5clr.eu-west-1.rds.amazonaws.com:5432/main
1 rows affected.

[(7394,)]

In [ ]:
#Count in percentage
round(100 - (abs(636 - 7394) / 7394) * 100)

9